body {
  margin: 0; padding: 16px;
  background: #121212;
  color: #d1f7e7;
  font-family: monospace, monospace;
}
h2 {
  margin-bottom: 12px;
  font-weight: 700;
}
pre {
  white-space: pre-wrap;
  line-height: 1.5;
  font-size: 15px;
}